@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('fontawesome/css/all.css');
/* rgb dark: 10, 118, 192, rgb light: 25, 165, 222 */
:root{
    --primary-dark: #0966a0;
    --primary-light: #18a4dd;
    --primary-white: #ddddee;
    --dark: #42504f;
    --body: #888;
    --box-shadow: 0 1px 3px rgba(10, 118, 192, 0.3);
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    color: var(--body);
    letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
    color: var(--dark);
    text-transform: uppercase;
}
img {
    width: 100%;
}
.display-4{
    color: white;
    font-weight: 700;
}
.nav-link{
    color: var(--primary-light) !important;
    letter-spacing: 2px;
    font-family: 'Arvo', serif;
}
.nav-link:hover{
    color: var(--primary-dark) !important;
    font-weight: 700;
}

.hero{
    /* padding: auto 20px 20px auto; */
    background-image: url(../info-desk.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}
.hero::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(10, 118, 192, 0.8) ;
    z-index: -1;
}
.hero h1{
    position: relative;
    color: transparent !important;
    font-weight: 400;
    /* text-transform: uppercase; */
    font-style: italic;
    -webkit-text-stroke: 1px #eee;
    overflow: hidden;
    text-align: left !important;
}
.hero h1::before{
    position: absolute;
    text-align: left !important;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 1px solid #eee;
    content: attr(data-text);
    color: white !important;
    font-weight: 400;
    /* text-transform: uppercase; */
    font-style: italic;
    -webkit-text-stroke: 1px #fff;
    animation: animate 6s linear infinite;
    overflow: hidden;
}
@keyframes animate {
    0%, 10%, 100%{
        width: 0;
    }
    20%,40%, 70%, 90%{
        width: 100%;
    }

}
.top-contact {
    padding: 5px;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: var(--primary-dark);
    color: #fff;
    font-size: 10px;
    margin: 0;
    max-height: 25px;
    overflow: hidden;
}
@media (max-width: 767px) {
    .top-contact{
        display: none;
    }
    
}

.top-contact a{
    color: #fff;
    text-decoration: none;
}
.top-contact a:hover{
    color: #a0a0ff;
}

.navbar{
    box-shadow: var(--box-shadow); 
}

section{
    padding-top: 60px;
    padding-bottom: 60px;
}

.card-effect{
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover{
    box-shadow: none;
    /* transform: translateY(5px); */
}

.iconbox{
    color: #fff;
    width: 54px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 26px;
    background-color: var(--primary-dark);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex: none;
}
.partner-box{
    color: #fff;
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    padding: 10px;
    flex: none;
}
.partner-box img{
    width: 100%;
    height: auto;
}
#partners{
    line-height: 13px;
}
#partners p{
    font-size: 12px;
    text-align: justify;
}

.service{
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: 250px;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.service h1, .service h5, .service p, .service a{
    color: var(--body);
    
}
.service h5{
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.service:hover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    position: relative;
    z-index: 2;
}

#service-1:hover{
    background-image: url(../image/machine/sorting.gif);
}

#service-2:hover{
    background-image: url(../image/machine/fire-resistant.gif);
}
#service-3:hover{
    background-image: url(../image/machine/cash-safe.gif);
}
#service-4:hover{
    background-image: url(../image/machine/vault.gif);
}
#service-5:hover{
    background-image: url(../image/maintenance-room.png);
}
#service-6:hover{
    background-image: url(../image/machine/more-service.gif);
}
.service::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-dark);
    z-index: -1;
    opacity: 0;
    transition: all 1s ease;
}
.service:hover::after{
    opacity: 0.5;
    z-index: -1;
    top: 0;
}

.service:hover h5, .service:hover p, .service:hover a{
    color: #fff;
}
.service:hover .iconbox{
    color: var(--primary-dark);
    background-color: white;
}

.service:hover.iconbox {
    background-color: #fff;
    color: var(--primary-dark);
}

.partners{
    background-image: url(../image/sw-network.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 400px;
}

.col-partners{
    background-color: rgba(10, 118, 192, 0.8);
}


.col-partners h1, .col-partners h5, .col-partners h6, .col-partners p, .col-partners a{
    color: var(--primary-white);
}


.project{
    position: relative;
    overflow: hidden;
}

.project .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 118, 192, 0.9) ;
    padding: 30px;
    display: flex;
    /* text-align: center;
    justify-content: center; */
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
}

.project img {
    transition: all 0.4s ease;
}

.project:hover .overlay{
    opacity: 1;
}

.project:hover img{
    transform: scale(1.1);
}

.footer-copyright{
    background-color: var(--primary-dark);
    color:var(--primary-white);
    font-size: 12px;
    max-height: 50px;
    box-shadow: var(--box-shadow);
}

.footer-links{
    background-color: white;
    box-shadow: var(--box-shadow);
}

.footer-links h6, p {
    color:var(--primary-dark);
}

.footer-social{
    background-color: white;
    box-shadow: var(--box-shadow);
}

.heading-1{
    position: relative;
    color: var(--dark);
    padding: 10px;
    z-index: 3;
    text-align: center;
}
.heading-1 p{
    color: var(--primary-white);
    text-transform: capitalize;
    color: rgba(25, 165, 222, 0.5);
}
.heading-1 .back-text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0;
    margin: 0;
    color: rgba(25, 165, 222, 0.1);
    vertical-align: middle;
    text-align: center;
    /* rgb dark: 10, 118, 192, rgb light: 25, 165, 222 */
}

@media (min-width: 706px){
    .heading-1 .back-text{
        line-height: 80%;
        font-size:   5.5vw;
    }
}
@media (max-width: 705px){
    .heading-1 .back-text{
        line-height: 90%;
        font-size:   10vw;
    }
}
.contact-us{
    background-color: var(--primary-dark);
}
.col-form{
    padding: 25px;
    background-color: var(--primary-dark);
}
.col-address{
    padding: 0;
    background-color: var(--primary-light);
    color: white;
}
.col-address h1, .col-address h2, .col-address h5{
    color: white !important;
    text-align: center;
}
.contact-us h1, .contact-us .icon {
    color: var(--primary-white);
}
.contact-us input, .contact-us textarea{
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--primary-light);
    outline:0px !important;
    padding: 0 10px;
    color: var(--primary-white);
    background-color: transparent;
}
.contact-us input::placeholder, .contact-us textarea{
    color: var(--primary-white);
    font-size: 12px;
}

.contact-us p{
    color: var(--primary-white);
}
.contact-us .btn{
    background-color: var(--primary-white);
    width: 100px;
}


.about-us{
    background-color: var(--primary-dark);
    color: var(--primary-light);
}
.about-us h5, .about-us p{
    color: var(--primary-light);
}

.about-us h5{
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 0;
}

.about-us p, .about-us a{
    color: var(--primary-light);
    font-size: 11px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

.mvv-iconbox{
    color: var(--primary-light);
    width: 80px;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    padding-right: 10px;
    line-height: 45px;
    margin-top: auto;
    margin-bottom: auto;
}

.mvv-iconbox h5{
    margin: 0;
    padding: 0;
    color: var(--primary-light);
}

.mvv-statement p{
    vertical-align: middle;
    margin: 0;
    font-size: 10px;
    margin-top: auto;
    margin-bottom: auto;
}




/* awards and certifications  */
.col-award h3{
    color: ;
    
}
.award{
    box-shadow: var(--box-shadow);
}

.award img{
    opacity: 0.4;
}

.award:hover img{
    opacity: 1;
}
.award h5{
    position: absolute;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    font-size: 15px;
    white-space: nowrap;
}

/* .col-award h4{
    position: relative;
    text-align: center;
} */

.col-award .carousel-indicators button{
        width: 15px;
        height: 15px;
        background-color: var(--primary-light);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: 1px solid transparent;
        transition: all 0.6s linear;
        opacity: 0.1;
}
.col-award:hover .carousel-indicators button{
        opacity: 1;
}
.col-award .carousel-indicators button.active{
    background-color: var(--primary-dark);
    opacity: 1;
    transform: scale(1.1);
}
